<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration Form </title>
        <link rel="icon" type="image/png" href="../static/images/school.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
           <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

		<link rel="stylesheet" type="text/css" href="../static/css/animate-custom.css" />
    </head>
    <body>
<nav>
    <div style="background-color:teal" class="nav-wrapper">

        <img style="margin-left:2%" height="50"  src="/static/images/school.png"/>
        <span style=" font-size:19pt; font-family:cursive;"><b>A.H</b> <u>School</u> Systems</span>
<!--        <img src="/static/images/school.png"/>-->
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <a href="/logoutTO" style="background-color:green" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Back
        </a>

      </ul>
    </div>
  </nav>
 <div style="font-size:19pt;

  width:25%;
  background-color:teal;
<!--   pading-bottom:5%;-->
  margin-left: 33%;
 font-family: cursive;
 font-size:19pt;
 color:rgb(53, 30, 30);
 font-style: italic;
 text-align: center;
    padding-bottom:0.5%;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
box-shadow: 1px 5px 8px black;
margin-bottom:-6%;
">
<p> <br/> Login panal</p>
     </div>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">

                <span class="right">

                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->

            <section>
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="/loginOK" method="post" autocomplete="on">
                                <h1>Log in</h1>
                                <p>
                                    <span  style="color:Red; font-family:cursive;">
                                   <b>
                                         {{login}}
                                   </b>
                                        <br/>
                                    </span>
                                    <label for="username" class="uname" data-icon="u" > Your email or username </label>
                                    <input id="username" onclick="M.toast({html: 'Enter Name !'})" name="userLogin" required="required" type="text" placeholder="myusername"/>
                                </p>
                                <p>
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input id="password" name="passLogin" required="required" type="password" placeholder="eg. X8df!90EO" />
                                </p>
                                <p class="keeplogin">
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
									<label for="loginkeeping">Keep me logged in</label>
								</p>
                                <p class="login button">
                                    <input type="submit" value="Login" />
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="#toregister" class="to_register">Join us</a>
								</p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form  action="/register" autocomplete="on" method="post">
                                <h1> Sign up </h1>
                                <p>
                                    <label for="usernamesignup"  class="uname" data-icon="u">Your username</label>
                                    <input id="usernamesignup" name="nameReg" required="required" type="text" placeholder="mysuperusername690" />
                                </p>
                                <p>
                                    <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                                    <input id="emailsignup" name="emailReg" required="required" type="email" placeholder="mysupermail@mail.com"/>
                                </p>
                                <p>
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                    <input id="passwordsignup" name="passReg" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
<!--                                <p>-->
<!--                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>-->
<!--                                    <input id="passwordsignup_confirm" name="confirmReg" required="required" type="password" placeholder="eg. X8df!90EO"/>-->
<!--                                </p>-->
                                <p class="signin button"> 
									<input type="submit" value="Sign up"/> 
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="#tologin" class="to_register"> Go and log in </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>